<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings>
            <setting name="Microsoft_Samples_ReportingServices_CustomSecurity_localhost_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/LegacyReportServer_SQL2014/ReportService2010.asmx</value>
            </setting>
            <setting name="Database_ConnectionString" serializeAs="String">
                <value>Server=localhost; Integrated Security=SSPI;database=ReportServer</value>
            </setting>
        </Microsoft.Samples.ReportingServices.CustomSecurity.Properties.Settings>
    </applicationSettings>
</configuration>
