<Configuration>
<MachineKey Decryption="AES" DecryptionKey="AE2EBCDEF3A224132136C9A6EC3BD533EFBA4B8C69CB2CDAD8CCACA03DF7681E" Validation="HMACSHA256" ValidationKey="CE0CC581AA9AA78E617B0867B16AC63D6FDEA8E166C23E7A2BE63851C05FB46FF6C5E350354EA65474BBED51022DAA1D0D265B094EE3E475B284135A531E4526" />
<Dsn>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHdQ8GoCuiUONOMI82HPGswQAAAAiAAAAUgBlAHAAbwBy
AHQAaQBuAGcAIABTAGUAcgB2AGUAcgAAABBmAAAAAQAAIAAAAABbbR+aV0xsLj3ABBtsLYMx/NIA
0u0LjGiuzUiGCPP9AAAAAA6AAAAAAgAAIAAAANib0gANhmEl7FNtUVoT8g48IbHoPn8eD/tEWg/1
24WE4AAAAN9XgsRjhfnUao5sAbpRAZ6oHuFAVQ0pigAFSEadQGovZIb3WgTTXABRZEx/6iYrAFpo
24dixGgShxpS3w3Y2S3twAkDs4mI1CM958gEKmMz16kwkW/hrHOSbWnhEuD5BzwFGY1dTKjOq2ZQ
ttMQaWWA6I+m25n7an93NCpt2+kAVO1WJYhQ6wfjWrsa+B7HrW4Hdmq2RuYrfL2/FY3UFmBUcdCF
zUIB7TJLV3/fIR3H0IzUp6RoxgXJweyH348AIz5MOo3uVumaezMeg2vufmHDFOEVi2WH17NLOmIm
9UWIQAAAAErKOZXZDNPuKj6NAuxjoPXyFvaVHiV1yEXGjRdjDz3zPTNse+jyyVnPx730abdYMhkl
m1wkZ8NpylaFSsjvZ/M=</Dsn>
	<ConnectionType>Default</ConnectionType>
	<LogonUser></LogonUser>
	<LogonDomain></LogonDomain>
	<LogonCred></LogonCred>
	<InstanceId>SSRS</InstanceId>
	<InstallationID>{3c0c2f95-f7ff-4263-baaf-e16c6448645f}</InstallationID>
	<Add Key="SecureConnectionLevel" Value="0"/>
	<Add Key="DisableSecureFormsAuthenticationCookie" Value="false"/>
	<Add Key="CleanupCycleMinutes" Value="10"/>
	<Add Key="MaxActiveReqForOneUser" Value="20"/>
	<Add Key="DatabaseQueryTimeout" Value="300"/>
	<Add Key="RunningRequestsScavengerCycle" Value="60"/>
	<Add Key="RunningRequestsDbCycle" Value="60"/>
	<Add Key="RunningRequestsAge" Value="30"/>
	<Add Key="MaxScheduleWait" Value="5"/>
	<Add Key="DisplayErrorLink" Value="true"/>
	<Add Key="WebServiceUseFileShareStorage" Value="false"/>
	<!--  <Add Key="ProcessTimeout" Value="150" /> -->
	<!--  <Add Key="ProcessTimeoutGcExtension" Value="30" /> -->
	<!--  <Add Key="WatsonFlags" Value="0x0430" /> full dump-->
	<!--  <Add Key="WatsonFlags" Value="0x0428" /> minidump -->
	<!--  <Add Key="WatsonFlags" Value="0x0002" /> no dump-->
	<Add Key="WatsonFlags" Value="0x0428"/>
	<Add Key="WatsonDumpOnExceptions" Value="Microsoft.ReportingServices.Diagnostics.Utilities.InternalCatalogException,Microsoft.ReportingServices.Modeling.InternalModelingException,Microsoft.ReportingServices.ReportProcessing.UnhandledReportRenderingException"/>
	<Add Key="WatsonDumpExcludeIfContainsExceptions" Value="Microsoft.PowerBI.ReportServer.WebApi.Catalog.CatalogAccessException,System.Threading.ThreadAbortException,System.Web.UI.ViewStateException,System.OutOfMemoryException,System.Web.HttpException,System.IO.IOException,System.IO.FileLoadException,Microsoft.SharePoint.SPException,Microsoft.ReportingServices.WmiProvider.WMIProviderException,System.AppDomainUnloadedException"/>
	<URLReservations>
		<Application>
			<Name>ReportServerWebService</Name>
			<VirtualDirectory>ReportServer</VirtualDirectory>
			<URLs>
				<URL>
					<UrlString>http://+:80</UrlString>
					<AccountSid>S-1-5-80-4050220999-2730734961-1537482082-519850261-379003301</AccountSid>
					<AccountName>NT SERVICE\SQLServerReportingServices</AccountName>
				</URL>
				<URL>
					<UrlString>https://localhost:443</UrlString>
					<AccountSid>S-1-5-80-4050220999-2730734961-1537482082-519850261-379003301</AccountSid>
					<AccountName>NT SERVICE\SQLServerReportingServices</AccountName>
				</URL>
			</URLs>
		</Application>
		<Application>
			<Name>ReportServerWebApp</Name>
			<VirtualDirectory>Reports</VirtualDirectory>
			<URLs>
				<URL>
					<UrlString>http://+:80</UrlString>
					<AccountSid>S-1-5-80-4050220999-2730734961-1537482082-519850261-379003301</AccountSid>
					<AccountName>NT SERVICE\SQLServerReportingServices</AccountName>
				</URL>
				<URL>
					<UrlString>https://localhost:443</UrlString>
					<AccountSid>S-1-5-80-4050220999-2730734961-1537482082-519850261-379003301</AccountSid>
					<AccountName>NT SERVICE\SQLServerReportingServices</AccountName>
				</URL>
			</URLs>
		</Application>
	</URLReservations>
	<Authentication>
		<AuthenticationTypes> 
			<Custom/>
		</AuthenticationTypes>
		<RSWindowsExtendedProtectionLevel>Off</RSWindowsExtendedProtectionLevel>
		<RSWindowsExtendedProtectionScenario>Proxy</RSWindowsExtendedProtectionScenario>
		<EnableAuthPersistence>true</EnableAuthPersistence>
	</Authentication>
	<Service>
		<IsSchedulingService>True</IsSchedulingService>
		<IsNotificationService>True</IsNotificationService>
		<IsEventService>True</IsEventService>
		<PollingInterval>10</PollingInterval>
		<IsDataModelRefreshService>True</IsDataModelRefreshService>
		<WindowsServiceUseFileShareStorage>False</WindowsServiceUseFileShareStorage>
		<MemorySafetyMargin>80</MemorySafetyMargin>
		<MemoryThreshold>90</MemoryThreshold>
		<RecycleTime>720</RecycleTime>
		<MaxAppDomainUnloadTime>30</MaxAppDomainUnloadTime>
		<MaxQueueThreads>0</MaxQueueThreads>
		<UrlRoot></UrlRoot>
		<UnattendedExecutionAccount>
			<UserName>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHdQ8GoCuiUONOMI82HPGswQAAAAiAAAAUgBlAHAAbwBy
AHQAaQBuAGcAIABTAGUAcgB2AGUAcgAAABBmAAAAAQAAIAAAAOwQaCdPtpq1VhtDESLerFy7gY/7
4ZbQVzc4W/y3SdlrAAAAAA6AAAAAAgAAIAAAAD24TC4+2PvAF1wE87/GGh7gwdfFO8oakVerFDzU
0N69EAAAAOiYYdY7tUh25V2S7lddAkNAAAAA77qyolnB3fRxIoyychKIdaSQh9iFEz/oVLQ/xLhb
j41Q5tN9b0GSKAM5/2wgJc3bBaD3Fsk+l/dnozSwxJT9Kg==</UserName>
			<Password>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHdQ8GoCuiUONOMI82HPGswQAAAAiAAAAUgBlAHAAbwBy
AHQAaQBuAGcAIABTAGUAcgB2AGUAcgAAABBmAAAAAQAAIAAAAJhTygs1xwZeOU1JfxhtDlFpvQwt
JM8VhB+KGkUFtJz2AAAAAA6AAAAAAgAAIAAAAN7ie+KHeTa2aX3HxyY9mPUue/DoyRIKkpyYp0C6
ddWFIAAAAP+rFe5yhT89SW8REhcIoORln1Ojm0PKy9EoST8L0lfvQAAAAKLh+UA/C1p4HP/q0p9v
dLOJ4vljdhagYjr9xr6gFMNvWhaQMfLIGEV1kNWsuULFn3qztp9z6juQ0jAue79BnvM=</Password>
			<Domain>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHdQ8GoCuiUONOMI82HPGswQAAAAiAAAAUgBlAHAAbwBy
AHQAaQBuAGcAIABTAGUAcgB2AGUAcgAAABBmAAAAAQAAIAAAAJGEMHcMXYJERlaCKMaO7zNTjs8o
MJ0BkAiOVkzFwL6HAAAAAA6AAAAAAgAAIAAAANTkCO/Un8eEWoTpLgESsRhgOeL1PRzxH6/1BJDm
zQtjIAAAAPIpicFIAr0Iw5UxsY84NBxG0thiPwZAgDTDi5l6/NKfQAAAAMoxSjAypmp5W1+PPCXn
ZCsQj1WVVQmG+1icdUD/nth3ATVxd669XD663T7EGqxhGjNTAS5gb1LSnkS7alItVVg=</Domain>
		</UnattendedExecutionAccount>
		<PolicyLevel>rssrvpolicy.config</PolicyLevel>
		<IsWebServiceEnabled>True</IsWebServiceEnabled>
		<FileShareStorageLocation>
			<Path></Path>
		</FileShareStorageLocation>
		<DefaultFileShareAccount>
			<Domain></Domain>
			<UserName></UserName>
			<Password></Password>
		</DefaultFileShareAccount>
	</Service>
	<UI>
	   <CustomAuthenticationUI>
		  <PassThroughCookies>
			 <PassThroughCookie>sqlAuthCookie</PassThroughCookie>
		  </PassThroughCookies>
	   </CustomAuthenticationUI>
	</UI>
	<Extensions>
		<Delivery>
			<Extension Name="Report Server FileShare" Type="Microsoft.ReportingServices.FileShareDeliveryProvider.FileShareProvider,ReportingServicesFileShareDeliveryProvider">
				<MaxRetries>3</MaxRetries>
				<SecondsBeforeRetry>900</SecondsBeforeRetry>
				<Configuration>
					<FileShareConfiguration>
						<ExcludedRenderFormats>
							<RenderingExtension>HTMLOWC</RenderingExtension>
							<RenderingExtension>NULL</RenderingExtension>
							<RenderingExtension>RGDI</RenderingExtension>
						</ExcludedRenderFormats>
					</FileShareConfiguration>
				</Configuration>
			</Extension>
			<Extension Name="Report Server Email" Type="Microsoft.ReportingServices.EmailDeliveryProvider.EmailProvider,ReportingServicesEmailDeliveryProvider">
				<MaxRetries>3</MaxRetries>
				<SecondsBeforeRetry>900</SecondsBeforeRetry>
				<Configuration>
					<RSEmailDPConfiguration>
						<SMTPServer></SMTPServer>
						<SMTPServerPort></SMTPServerPort>
						<SMTPAccountName></SMTPAccountName>
						<SMTPConnectionTimeout></SMTPConnectionTimeout>
						<SMTPServerPickupDirectory></SMTPServerPickupDirectory>
						<SMTPUseSSL>False</SMTPUseSSL>
						<SendUsing>2</SendUsing>
						<SMTPAuthenticate>0</SMTPAuthenticate>
						<SendUserName></SendUserName>
						<SendPassword></SendPassword>
						<From></From>
						<EmbeddedRenderFormats>
							<RenderingExtension>MHTML</RenderingExtension>
						</EmbeddedRenderFormats>
						<PrivilegedUserRenderFormats></PrivilegedUserRenderFormats>
						<ExcludedRenderFormats>
							<RenderingExtension>HTMLOWC</RenderingExtension>
							<RenderingExtension>NULL</RenderingExtension>
							<RenderingExtension>RGDI</RenderingExtension>
						</ExcludedRenderFormats>
						<SendEmailToUserAlias>True</SendEmailToUserAlias>
						<DefaultHostName></DefaultHostName>
						<PermittedHosts></PermittedHosts>
					</RSEmailDPConfiguration>
				</Configuration>
			</Extension>
			<Extension Name="NULL" Type="Microsoft.ReportingServices.NullDeliveryProvider.NullProvider,ReportingServicesNullDeliveryProvider"/>
			<Extension Name="Report Server PowerBI" Type="Microsoft.ReportingServices.PowerBIDeliveryProvider.PowerBIDeliveryProvider,ReportingServicesPowerBIDeliveryProvider">
				<MaxRetries>3</MaxRetries>
				<SecondsBeforeRetry>900</SecondsBeforeRetry>
				<Configuration>
					<PowerBIDeliveryConfiguration></PowerBIDeliveryConfiguration>
				</Configuration>
			</Extension>
		</Delivery>
		<DeliveryUI>
			<Extension Name="Report Server Email" Type="Microsoft.ReportingServices.EmailDeliveryProvider.EmailDeliveryProviderControl,ReportingServicesEmailDeliveryProvider">
				<DefaultDeliveryExtension>True</DefaultDeliveryExtension>
				<Configuration>
					<RSEmailDPConfiguration>
						<DefaultRenderingExtension>MHTML</DefaultRenderingExtension>
					</RSEmailDPConfiguration>
				</Configuration>
			</Extension>
			<Extension Name="Report Server FileShare" Type="Microsoft.ReportingServices.FileShareDeliveryProvider.FileShareUIControl,ReportingServicesFileShareDeliveryProvider"/>
			<Extension Name="Report Server PowerBI" Type="Microsoft.ReportingServices.PowerBIDeliveryProvider.PowerBIDeliveryUIControl,ReportingServicesPowerBIDeliveryProvider"/>
		</DeliveryUI>
		<Render>
			<Extension Name="WORDOPENXML" Type="Microsoft.ReportingServices.Rendering.WordRenderer.WordOpenXmlRenderer.WordOpenXmlDocumentRenderer,Microsoft.ReportingServices.WordRendering"/>
			<Extension Name="WORD" Type="Microsoft.ReportingServices.Rendering.WordRenderer.WordDocumentRenderer,Microsoft.ReportingServices.WordRendering" Visible="false"/>
			<Extension Name="EXCELOPENXML" Type="Microsoft.ReportingServices.Rendering.ExcelOpenXmlRenderer.ExcelOpenXmlRenderer,Microsoft.ReportingServices.ExcelRendering"/>
			<Extension Name="EXCEL" Type="Microsoft.ReportingServices.Rendering.ExcelRenderer.ExcelRenderer,Microsoft.ReportingServices.ExcelRendering" Visible="false"/>
			<Extension Name="PPTX" Type="Microsoft.ReportingServices.Rendering.PowerPointRendering.PptxRenderingExtension,Microsoft.ReportingServices.PowerPointRendering"/>
			<Extension Name="PDF" Type="Microsoft.ReportingServices.Rendering.ImageRenderer.PDFRenderer,Microsoft.ReportingServices.ImageRendering"/>
			<Extension Name="IMAGE" Type="Microsoft.ReportingServices.Rendering.ImageRenderer.ImageRenderer,Microsoft.ReportingServices.ImageRendering"/>
			<Extension Name="MHTML" Type="Microsoft.ReportingServices.Rendering.HtmlRenderer.MHtmlRenderingExtension,Microsoft.ReportingServices.HtmlRendering">
				<Configuration>
					<DeviceInfo>
						<DataVisualizationFitSizing>Approximate</DataVisualizationFitSizing>
					</DeviceInfo>
				</Configuration>
			</Extension>
			<Extension Name="CSV" Type="Microsoft.ReportingServices.Rendering.DataRenderer.CsvReport,Microsoft.ReportingServices.DataRendering"/>
			<Extension Name="XML" Type="Microsoft.ReportingServices.Rendering.DataRenderer.XmlDataReport,Microsoft.ReportingServices.DataRendering"/>
			<Extension Name="ATOM" Type="Microsoft.ReportingServices.Rendering.DataRenderer.AtomDataReport,Microsoft.ReportingServices.DataRendering"/>
			<Extension Name="NULL" Type="Microsoft.ReportingServices.Rendering.NullRenderer.NullReport,Microsoft.ReportingServices.NullRendering" Visible="false"/>
			<Extension Name="RGDI" Type="Microsoft.ReportingServices.Rendering.ImageRenderer.RGDIRenderer,Microsoft.ReportingServices.ImageRendering" Visible="false"/>
			<Extension Name="HTML4.0" Type="Microsoft.ReportingServices.Rendering.HtmlRenderer.Html40RenderingExtension,Microsoft.ReportingServices.HtmlRendering" Visible="false">
				<Configuration>
					<DeviceInfo>
						<DataVisualizationFitSizing>Approximate</DataVisualizationFitSizing>
					</DeviceInfo>
				</Configuration>
			</Extension>
			<Extension Name="HTML5" Type="Microsoft.ReportingServices.Rendering.HtmlRenderer.Html5RenderingExtension,Microsoft.ReportingServices.HtmlRendering" Visible="false">
				<Configuration>
					<DeviceInfo>
						<DataVisualizationFitSizing>Approximate</DataVisualizationFitSizing>
					</DeviceInfo>
				</Configuration>
			</Extension>
			<Extension Name="RPL" Type="Microsoft.ReportingServices.Rendering.RPLRendering.RPLRenderer,Microsoft.ReportingServices.RPLRendering" Visible="false" LogAllExecutionRequests="false"/>
		</Render>
		<!--
        For the SQLPDW extension to work, install the SQL Server PDW Client Tools on the report server.
        NOTE: The SQLPDW extension is deprecated. It supports old versions of SQL Server Parallel Data Warehouse (PDW).
        To connect to Analytics Platform System, use the SQL (SQL Server) extension.
        For the ORACLE extension to work, install the Oracle Data Provider for NET (ODP.NET) on the report server.
        For TERADATA extension to work, install the .NET Provider for Teradata on the report server.
      -->
		<Data>
			<Extension Name="SQL" Type="Microsoft.ReportingServices.DataExtensions.SqlConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="SQLAZURE" Type="Microsoft.ReportingServices.DataExtensions.SqlAzureConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="SQLPDW" Type="Microsoft.ReportingServices.DataExtensions.SqlDwConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="OLEDB-MD" Type="Microsoft.ReportingServices.DataExtensions.AdoMdConnection,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="SHAREPOINTLIST" Type="Microsoft.ReportingServices.DataExtensions.SharePointList.SPListConnection,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="ORACLE" Type="Microsoft.ReportingServices.DataExtensions.OracleClientConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="ESSBASE" Type="Microsoft.ReportingServices.DataExtensions.Essbase.EssbaseConnection,Microsoft.ReportingServices.DataExtensions.Essbase"/>
			<Extension Name="SAPBW" Type="Microsoft.ReportingServices.DataExtensions.SapBw.SapBwConnection,Microsoft.ReportingServices.DataExtensions.SapBw"/>
			<Extension Name="TERADATA" Type="Microsoft.ReportingServices.DataExtensions.TeradataConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="OLEDB" Type="Microsoft.ReportingServices.DataExtensions.OleDbConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="ODBC" Type="Microsoft.ReportingServices.DataExtensions.OdbcConnectionWrapper,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="XML" Type="Microsoft.ReportingServices.DataExtensions.XmlDPConnection,Microsoft.ReportingServices.DataExtensions"/>
			<Extension Name="ENTERDATA" Type="Microsoft.ReportingServices.DataExtensions.XmlDPConnection,Microsoft.ReportingServices.DataExtensions">
				<Configuration>
					<ConfigName>ENTERDATA</ConfigName>
				</Configuration>
			</Extension>
		</Data>
		<SemanticQuery>
			<Extension Name="SQL" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.MSSQL.MSSqlSQCommand,Microsoft.ReportingServices.SemanticQueryEngine">
				<Configuration>
					<EnableMathOpCasting>False</EnableMathOpCasting>
				</Configuration>
			</Extension>
			<Extension Name="SQLAZURE" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.MSSQL.MSSqlSQCommand,Microsoft.ReportingServices.SemanticQueryEngine">
				<Configuration>
					<EnableMathOpCasting>False</EnableMathOpCasting>
				</Configuration>
			</Extension>
			<Extension Name="SQLPDW" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.MSSQLADW.MSSqlAdwSQCommand,Microsoft.ReportingServices.SemanticQueryEngine">
				<Configuration>
					<EnableMathOpCasting>False</EnableMathOpCasting>
				</Configuration>
			</Extension>
			<Extension Name="ORACLE" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.Oracle.OraSqlSQCommand,Microsoft.ReportingServices.SemanticQueryEngine">
				<Configuration>
					<EnableMathOpCasting>True</EnableMathOpCasting>
					<DisableNO_MERGEInLeftOuters>False</DisableNO_MERGEInLeftOuters>
					<EnableUnistr>False</EnableUnistr>
					<DisableTSTruncation>False</DisableTSTruncation>
				</Configuration>
			</Extension>
			<Extension Name="TERADATA" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.Teradata.TdSqlSQCommand,Microsoft.ReportingServices.SemanticQueryEngine">
				<Configuration>
					<EnableMathOpCasting>True</EnableMathOpCasting>
					<ReplaceFunctionName>oREPLACE</ReplaceFunctionName>
				</Configuration>
			</Extension>
			<Extension Name="OLEDB-MD" Type="Microsoft.AnalysisServices.Modeling.QueryExecution.ASSemanticQueryCommand,Microsoft.AnalysisServices.Modeling"/>
		</SemanticQuery>
		<ModelGeneration>
			<Extension Name="SQL" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.MSSQL.MsSqlModelGenerator,Microsoft.ReportingServices.SemanticQueryEngine"/>
			<Extension Name="SQLAZURE" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.MSSQL.MsSqlModelGenerator,Microsoft.ReportingServices.SemanticQueryEngine"/>
			<Extension Name="ORACLE" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.Oracle.OraSqlModelGenerator,Microsoft.ReportingServices.SemanticQueryEngine"/>
			<Extension Name="TERADATA" Type="Microsoft.ReportingServices.SemanticQueryEngine.Sql.Teradata.TdSqlModelGenerator,Microsoft.ReportingServices.SemanticQueryEngine"/>
			<Extension Name="OLEDB-MD" Type="Microsoft.AnalysisServices.Modeling.Generation.ModelGeneratorExtention,Microsoft.AnalysisServices.Modeling"/>
		</ModelGeneration>
		<Security>
			<Extension Name="Forms" Type="Microsoft.Samples.ReportingServices.CustomSecurity.Authorization, Microsoft.Samples.ReportingServices.CustomSecurity" >
			<Configuration>
				<AdminConfiguration>
					<UserName>daylite</UserName>
					<UserName>nitelite</UserName>
				</AdminConfiguration>
			</Configuration>
			</Extension>
		</Security>
		<Authentication>
			<Extension Name="Forms" Type="Microsoft.Samples.ReportingServices.CustomSecurity.AuthenticationExtension,Microsoft.Samples.ReportingServices.CustomSecurity" />
		</Authentication> 
		<EventProcessing>
			<Extension Name="SnapShot Extension" Type="Microsoft.ReportingServices.Library.HistorySnapShotCreatedHandler,ReportingServicesLibrary">
				<Event>
					<Type>ReportHistorySnapshotCreated</Type>
				</Event>
			</Extension>
			<Extension Name="Timed Subscription Extension" Type="Microsoft.ReportingServices.Library.TimedSubscriptionHandler,ReportingServicesLibrary">
				<Event>
					<Type>TimedSubscription</Type>
				</Event>
			</Extension>
			<Extension Name="Cache Refresh Plan Extension" Type="Microsoft.ReportingServices.Library.CacheRefreshPlanHandler,ReportingServicesLibrary">
				<Event>
					<Type>RefreshCache</Type>
				</Event>
			</Extension>
			<Extension Name="Shared Dataset Cache Update Extension" Type="Microsoft.ReportingServices.Library.SharedDatasetCacheUpdatePlanHandler,ReportingServicesLibrary">
				<Event>
					<Type>SharedDatasetCacheUpdate</Type>
				</Event>
			</Extension>
			<Extension Name="Cache Update Extension" Type="Microsoft.ReportingServices.Library.ReportExecutionSnapshotUpdateEventHandler,ReportingServicesLibrary">
				<Event>
					<Type>SnapshotUpdated</Type>
				</Event>
			</Extension>
		</EventProcessing>
	</Extensions>
	<MapTileServerConfiguration>
		<MaxConnections>2</MaxConnections>
		<Timeout>10</Timeout>
		<AppID>(Default)</AppID>
		<CacheLevel>Default</CacheLevel>
	</MapTileServerConfiguration>
	<SSLCertificateConfiguration>
		<Bindings>
			<Binding>
				<ApplicationName>ReportServerWebService</ApplicationName>
				<CertificateHash>1b5e1a800b813b751a7de2ffdd875b54a6edf66b</CertificateHash>
				<IPAddress>0.0.0.0</IPAddress>
				<Port>443</Port>
			</Binding>
			<Binding>
				<ApplicationName>ReportServerWebService</ApplicationName>
				<CertificateHash>1b5e1a800b813b751a7de2ffdd875b54a6edf66b</CertificateHash>
				<IPAddress>::</IPAddress>
				<Port>443</Port>
			</Binding>
			<Binding>
				<ApplicationName>ReportServerWebApp</ApplicationName>
				<CertificateHash>1b5e1a800b813b751a7de2ffdd875b54a6edf66b</CertificateHash>
				<IPAddress>0.0.0.0</IPAddress>
				<Port>443</Port>
			</Binding>
			<Binding>
				<ApplicationName>ReportServerWebApp</ApplicationName>
				<CertificateHash>1b5e1a800b813b751a7de2ffdd875b54a6edf66b</CertificateHash>
				<IPAddress>::</IPAddress>
				<Port>443</Port>
			</Binding>
		</Bindings>
	</SSLCertificateConfiguration>
</Configuration>
